@import url(./reset.css);

@font-face {
  font-family: 'Roboto Mono';
  src:  url(./fonts/RobotoMono-VariableFont_wght.woff2) format("woff2"),
        url(./fonts/RobotoMono-VariableFont_wght.woff) format("woff"),
        url(./fonts/RobotoMono-VariableFont_wght.otf) format("otf"),
        url(./fonts/RobotoMono-VariableFont_wght.ttf) format("ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

:root {
  --fz-desc: 1.8rem;
  --fz-tablet: 1.5rem;
  --fz-standart: 1rem;
  --border-color: rgba(1, 1, 1, 0.5);
}

html {
  width:100vw;
  overflow-x:hidden;
  font-family: 'Roboto Mono', monospace;
} /* fixes screen twitching when the screen scrollbar appears  */

.page__title {
  font-size: var(--fz-tablet);
  width: auto;
  padding: 1vw 0;
  border-bottom: 1px solid var(--border-color);
}

.accordion {
  max-width: 90%;
  margin: 2vw auto;
}

.accordion__item {
  padding: 0.5rem;
  border-bottom: 0.05rem solid var(--border-color);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.accordion__label {
  font-size: var(--fz-standart);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  flex-direction: column;
}

.accordion__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
}

.plus-btn {
  background: url(./images/plus.svg) center/cover;
  width: 1rem;
  height: 1rem;
  transition: transform 0.8s ease-in-out;
}

.accordion__img {
  height: 0;
  width: auto;
  object-fit: contain;
  transition: all 0.8s ease-in-out;
}

.accordion__input:checked ~ label .accordion__img {
  height: 40vw;
}

.accordion__input:checked ~ label .plus-btn {
  transform: rotate(45deg);
}

@media screen and (hover: hover) {
  .accordion__item:hover .plus-btn {
    transform: rotate(45deg);
  }

  .accordion__item:hover .accordion__img {
    height: 40vw;
  }

  .accordion__item:active .plus-btn {
    background: url(./images/plus-blue.svg) center/cover;
  }

  .accordion__item:active .accordion__text,
  .accordion__label  {
    color: #0e0ec0;
  }

  .accordion:hover .accordion__label,
  input[type='radio']:checked ~ .accordion__label{
    color: black;
  }

  .plus-btn {
    display: none;
  }

  .accordion:hover .plus-btn {
    display: block;
  }

  @media screen and (min-width: 768px){
    .accordion__item:hover .accordion__img {
      height: 30vw;
    }
    .accordion__input:checked ~ label .accordion__img {
      height: 30vw;
    }
  }
}

@media screen and (min-width: 375px){
  .accordion {
    max-width: 65%;
  }
}

@media screen and (min-width: 768px) {
  .accordion {
    max-width: 55%;
  }

  .accordion__label {
    font-size: var(--fz-tablet);
  }

  .plus-btn {
    width: 1.8rem;
  }
}

@media screen and (min-width: 1280px) {
  .accordion {
    max-width: 40%;
  }

  .page__title {
    font-size: calc(var(--fz-desc) / 0.7);
  }

  .accordion__label {
    font-size: var(--fz-desc);
  }

  input[type='radio']:checked ~label .accordion__img {
    height: 20vw;
    }
  .accordion__item:hover .accordion__img {
    height: 20vw;
  }
}