@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url(./reset.css);

:root {
  --fz-desc: 2rem;
  --fz-tablet: 1.5rem;
  --fz-standart: 1rem;
  --border-color: rgba(1, 1, 1, 0.5);
}

html {
  width:100vw;
  overflow-x:hidden;
  font-family: 'Roboto Mono', monospace;
} /* fixes screen twitching when the screen scrollbar appears  */

.page__title {
  font-size: var(--fz-tablet);
  width: auto;
  padding: 1vw 0;
  border-bottom: 1px solid var(--border-color);
}

.accordion {
  max-width: 90%;
  margin: 2vw auto;
}
.accordion__item {
  padding: 0.5rem;
  border-bottom: 0.05rem solid var(--border-color);
}

.accordion__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: var(--fz-standart);
}

.accordion__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus-btn {
  display: block;
  width: 1.5vw;
  transition: all 0.5s ease-in-out;
}

.accordion__img {
  width: auto;
  height: 0;
  transition: height 0.8s ease-in;
}

.accordion__item:hover .accordion__img,
input[type='radio']:checked~label .accordion__img {
  height: 30vw;
  margin-top: 0.8rem;
}

.accordion__input:checked ~ label .plus-btn,
.accordion__item:hover .plus-btn  {
  transform: rotate(45deg);
}


@media screen and (min-width: 321px) and (max-width: 699px) {
  .accordion {
    max-width: 75%;
  }
}

@media screen and (min-width: 700px) and (max-width: 819px) {
  .accordion {
    max-width: 50%;
  }

  .accordion__label {
    font-size: var(--fz-tablet);
  }
}

@media screen and (min-width: 820px){
  .accordion {
    max-width: 40%;
  }
  .accordion__item:hover .accordion__img,
  input[type='radio']:checked~label .accordion__img {
  height: 20vw;
  }
}

@media screen and (min-width: 1280px) {
  .page__title {
    font-size: calc(var(--fz-desc) / 0.7);
  }

  .accordion__label {
    font-size: var(--fz-desc);
    color:rgb(14, 14, 192);
  }

  .plus-btn {
    display: none;
  }

  .accordion:hover .accordion__title,
  input[type='radio']:checked ~ label .accordion__title{
    color: black;
  }

  .accordion:hover .plus-btn {
    display: block;
  }
}